@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

/* Header */
header {
    height: 95vh;
    width: 100%;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.navbarItem {
    display: inline-block;
    margin: 0 50px;
    font-weight: 300;
}

.navbarItem a {
    color: rgb(120, 120, 120);
    text-decoration: none;
    transition: 0.5s;
    position: relative;
}
.navbarItem a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background-color: rgb(120, 120, 120);
    transition: 0.5s;
}
.navbarItem a:hover {
    color: black;
    transform: translateY(-20px);
}
.navbarItem a:hover::after {
    background-color: black;
    width: 100%;
}
.container {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide-row {
    text-align: center;
    display: flex;
    width: 2400px;
    transition: 0.5s;
}
.slide-col {
    width: 800px;
    height: 400px;
    position: relative;
}
.logo {
    max-width: 45%;
}

.indicator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}
.btn {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
    transition: 0.5s;
}
.active {
    width: 30px;
}

.slide-show {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about {
    width: 50%;
    font-size: 1.2rem;
    margin: auto;
    margin-top: 25px;
}

form {
    margin-top: 25px;
}
.form-control {
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    margin-bottom: 16px;
    font-size: 1.2rem;
}
input {
    height: 45px;
}
form .submit {
    background-color: #48b6ff;
    border-color: transparent;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.5s;
}
form .submit:hover {
    background-color: #1769ff;
}
